<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kSecurityKey0</key>
	<string>yQ5AZJswP01PMdYIQZ85ww==</string>
	<key>kSecurityKey1</key>
	<string>U14y1BpGMINS6lLuqXoeRQ==</string>
	<key>kSecurityKey2</key>
	<string>VONpO35a2Bc1XvHpZM72Xw==</string>
</dict>
</plist>
