<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>http://is1.mzstatic.com/image/thumb/Purple71/v4/12/95/8b/12958b6e-e236-81c7-3bcf-50931ae16927/source/175x175bb.jpg</string>
		<key>appName</key>
		<string>Change Location for Tinder</string>
		<key>installURLString</key>
		<string>https://itunes.apple.com/us/app/fire-for-tinder-boost-match/id1103758340?mt=8</string>
		<key>isHidden</key>
		<false/>
	</dict>
</array>
</plist>
