<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>version</key>
		<string>1.1(168)</string>
		<key>description</key>
		<dict>
			<key>en</key>
			<string>Bug fixes and improvements.</string>
			<key>zh</key>
			<string>Bug fixes and improvements.</string>
		</dict>
		<key>redirectURL</key>
		<string>https://itunes.apple.com/app/id1039699450</string>
	</dict>
</array>
</plist>
