<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>http://is5.mzstatic.com/image/thumb/Purple111/v4/63/3e/92/633e9253-7910-97eb-c19a-538d01d0f040/source/100x100bb.jpg
</string>
		<key>appName</key>
		<string>YouTube Subscribers</string>
		<key>installURLString</key>
		<string>itms-apps://itunes.apple.com/app/id1183359986</string>
		<key>isHidden</key>
		<false/>
	</dict>
</array>
</plist>
