<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>http://a4.mzstatic.com/us/r30/Purple18/v4/75/ec/bf/75ecbf6a-34c3-d5a1-b660-5a76ef6617ce/icon175x175.png</string>
		<key>appName</key>
		<string>Tindbot</string>
		<key>installURLString</key>
		<string>itms-apps://itunes.apple.com/app/id1103758340</string>
		<key>isHidden</key>
		<false/>
	</dict>
</array>
</plist>
